.odd {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color:lightpink;
}

#number2 {
    color:blue;
    font-size:36px;
}

#number4 {
    background-color:lightgreen;
    font-size:24px;
    font-weight:bold;
}