body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 16px 8px;
}

.title {
  background: #e3f4ff;
  font-size:16px;
  padding: 16px 8px;
}

.content {
  background: #e3f4ff;
  margin: 17px auto;
  border:100px;
  padding: 16px 8px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  margin: 0px 0px 5px 120px;
  padding: 5px 20px;
  font-size:16px;


}